/*! CSS RADIORP.FR */

// BASE
@import "knacss/knacss.scss";
@import "import/_variables.scss";
html, body {overflow-x: hidden;}

// STRUCTURE
@import "import/_header.scss";
@import "import/_footer.scss";
@import "import/_boxes.scss";
@import "import/_typo.scss";
@import "import/_player.scss";
@import "import/_forms.scss";
@import "import/_menu.scss";
@import "import/_jumbo.scss";
@import "import/_button.scss";
@import "import/_pagi.scss";
@import "import/_asso.scss";
@import "import/_cookie.scss";

// WRAPPER
.wrapper {
    width: 100%;
    max-width: 1180px;
    padding: 0 20px;
    margin: 0 auto;
}

a {text-decoration: none;}

.maj {text-transform: uppercase;}

.pub {margin: 20px 0 0;}