/** CSS RADIORP.FR **/

// BASE
@import "knacss/knacss.scss";
@import "import/_variables.scss";

// STRUCTURE
@import "import/_header.scss";
@import "import/_footer.scss";
@import "import/_boxes.scss";
@import "import/_typo.scss";
@import "import/_player.scss";
@import "import/_forms.scss";

// WRAPPER
.wrapper {
    width: 100%;
    max-width: 1180px;
    padding: 0 20px;
    margin: 0 auto;
}