a.button {
    display: inline-block;
    border-radius: 5px;
    border: 2px solid $brand-primary;
    padding: 6px 10px;
    transition: all 0.2s;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    font-size: 1.8rem;
    color: $brand-primary;
    &.white {
        border-color: $white;
        color: $white;
        line-height: 2.6rem;
        vertical-align: middle;
        .icon {
            font-size: 2.6rem;
            line-height: 2.6rem;
            vertical-align: text-top;
            padding-right: 7px;
            font-weight: normal;
        }
        &:hover {
            color: $brand-primary;
            background: $white;
            transition: all 0.2s;
        }
    }
    &.podcast {
        border-color: $violet;
        color: $violet;
        &:hover {
            transition: all 0.2s;
            background: $violet;
            color: $background-base;
        }
    }
    &:hover {
        transition: all 0.2s;
        background: $brand-primary;
        color: $background-base;
    }
}