form {
    fieldset {
        padding: 20px;
        @media (max-width: $tiny) {padding: 10px;}
        &.title-music {
            select {width: 33.33%;margin-right: 10px; display: inline-block; margin-bottom: 0; @media (max-width:$small) {width: 100%; margin:0 0 20px;}}
            input {vertical-align: middle;}
        }
        label {
            vertical-align: middle;
            display: block;
            margin: 0 0 2px 0;
            cursor: initial;
        }
        input[type=text], input[type=email] {
            border: 0;
            border-bottom: 2px solid $brand-primary;
            width: 100%;
            padding: 5px;
            font-size: 1.8rem;
            margin-bottom: 20px;
            background: #f7f7f7;
        }
        select {
            border: 0;
            border-bottom: 2px solid $brand-primary;
            width: 100%;
            padding: 5px;
            font-size: 1.8rem;
            margin-bottom: 20px;
            background: #f7f7f7;
            option {
                padding: 0;
            }
        }
        textarea {
            border: 0;
            border-bottom: 2px solid $brand-primary;
            width: 100%;
            padding: 5px;
            margin: 0;
            margin-bottom: 20px;
            background: #f7f7f7;
        }
        input[type=submit] {
            display: inline-block;
            border-radius: 5px;
            border: 2px solid $brand-primary;
            padding: 6px 10px;
            transition: all 0.2s;
            text-transform: uppercase;
            text-align: center;
            font-weight: 600;
            font-size: 1.8rem;
            background: none;
            color: $brand-primary;
            cursor: pointer;
            &:hover {
                transition: all 0.2s;
                background: $brand-primary;
                color: $white;
            }
        }
    }
}

.input-file-container {
        position: relative;
        margin-bottom: 20px;
        }
        .js .input-file-trigger {
        display: inline-block;
            border-radius: 5px;
            border: 2px solid $brand-primary;
            padding: 6px 10px;
            transition: all 0.2s;
            text-transform: uppercase;
            text-align: center;
            font-weight: 600;
            font-size: 1.8rem;
            @media (max-width: $tiny) {font-size: 1.6rem;}
            background: none;
            color: $brand-primary;
            cursor: pointer;
            .icon {
                padding-right: 5px;
            }
        }
        .js .input-file {
        position: absolute;
        top: 0; left: 0;
        width: 225px;
        padding: 6px 10px;
        opacity: 0;
        cursor: pointer;
        }
        .js .input-file:hover + .input-file-trigger,
        .js .input-file:focus + .input-file-trigger,
        .js .input-file-trigger:hover,
        .js .input-file-trigger:focus {
        transition: all 0.2s;
                background: $brand-primary;
                color: $white;
        }
        p.file-return {padding: 0;}
        p.file-return:not(:empty) {
            padding: 0 0 20px;
        }
        .file-return {
        margin: 0;
        }
        .file-return:not(:empty) {
        margin: 0;
        }
        .js .file-return {
        font-style: italic;
        font-size: 1.4rem;
        }
        .js .file-return:not(:empty):before {
        content: "Fichier choisi : ";
        font-style: normal;
        font-weight: normal;
        }