.jumbo {
    margin: 84px 0 0;
    position: relative;
    background: $brand-primary;
    .gradient {
            position: absolute;
            top: 0;
            left: 0;
            background: -webkit-linear-gradient(left, #0DC7D8 0%, rgba(12,198,215,0.00) 100%);
            background: -moz-linear-gradient(left, #0DC7D8 0%, rgba(12,198,215,0.00) 100%);
            background: -o-linear-gradient(left, #0DC7D8 0%, rgba(12,198,215,0.00) 100%);
            background: linear-gradient(to right, #0DC7D8 0%, rgba(12,198,215,0.00) 100%);
            width: 100%;
            &.home {width: 50%; @media (max-width: $tiny) {width: 100%;}}
            height: 100%;
            z-index: 1;
    }

    .live {
        position: relative;
        z-index: 2;
        color: $white;
        width: 25%;
        @media (min-width: $medium) and (max-width: $large) {width: 35%;}
        @media (min-width: $small) and (max-width: $medium) {width: 50%;}
        @media (max-width: $small) {width: 100%;}
        @media (max-width: $tiny) {padding: 50px 0 90px;}
        padding: 100px 0 120px;
        &.show, &.article, &.basic, &.podcast, &.anim, &.asso {
            width: 100%;
            h1 {
                border: 0;
                padding-bottom: 0;
                @media (max-width: $tiny) {font-size: 4rem;}
                @media (max-width: $max-tiny) {font-size: 3.5rem;}
                &::after {
                    width: 25%;
                }
            }
            ol.breadcrumb {
                list-style-type: none;
                margin: 0;
                padding: 0;
                font-size: 0;
                li {
                    color: $white;
                    text-transform: uppercase;
                    font-weight: 600;
                    font-size: 1.4rem;
                    margin-bottom: 10px;
                    display: inline-block;
                    a {color: $white; &:hover {text-decoration: underline;}}
                    &::before {
                        content: "/";
                        display: inline-block;
                        margin: 0 10px;
                        font-weight: 500;
                    }
                    &:first-child {&::before {display: none;}}
                }
            }
        }
        &.show {
            padding: 50px 0 70px;
            @media (max-width: $tiny) {padding: 30px 0 50px;}
            p {
                font-size: 1.9rem;
                .anim {
                    color: $white;
                    font-weight: 600;
                    &:hover {text-decoration: underline;}
                }
            }
        }
        &.podcast {
            padding: 50px 0 70px;
            @media (max-width: $tiny) {padding: 30px 0 50px;}
            h1 {line-height: 6.5rem; text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1); @media (max-width: $tiny) {line-height: 5.5rem;} @media (max-width: $max-tiny) {line-height: 5rem;}}
            p {
                padding-top: 15px;
                .anim {
                    font-size: 1.8rem;
                    color: $white;
                    img {width: 50px; border-radius: 100%; margin-right: 10px;}
                    .name {font-weight: 600;}
                    &:hover {text-decoration: underline;}
                }
                &.chro {
                    color: $white;
                    a {font-weight: 600; color: $white; &:hover {text-decoration: underline;}}
                }
            }
        }
        &.article {
            padding: 70px 0 90px;
            @media (max-width: $tiny) {padding: 30px 0 50px;}
            h1 {line-height: 6.5rem; @media (max-width: $tiny) {line-height: 5.5rem;} @media (max-width: $max-tiny) {line-height: 5rem;} text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);}
            p {
                padding-top: 15px;
                .author {
                    img {width: 50px; border-radius: 100%; margin-right: 10px;}
                    font-weight: 600;
                    font-size: 1.8rem;
                    color: $white;
                    &:hover {text-decoration: underline;}
                }
            }
        }
        &.basic, &.anim {
            padding: 50px 0 80px;
            @media (max-width: $tiny) {padding: 30px 0 60px;}
            h1 {
                &::after {content: none;}
            }
            img {width: 130px; border-radius: 100%; margin-right: 20px; vertical-align: middle;}
        }
        h1 {
            margin: 0;
            font-family: $anton;
            font-weight: normal;
            text-transform: uppercase;
            line-height: 5.5rem;
            &::after {
                    content: "";
                    display: block;
                    margin-top: 15px;
                    height: 1px;
                    background: $white;
                    width: 75%;
                    @media (max-width: $small) {max-width: 35%;}
            }
        }
        p {
            margin: 0;
            &:first-of-type {padding-top: 15px;}
            &:last-of-type {padding-bottom: 15px;}
            &.music {
                font-size: 1.9rem;
                .artist {font-weight: 600;}
            }
        }
    }
}