.primary-nav {
    position: absolute;
    top: 0;
    width: 300px;
    min-height: 100vh;
    nav.hamburger {
       background: $brand-primary; 
    }
    ul {
        list-style-type: none;
        padding: 0;
        li {
            padding: 10px;
        }
    }
}

.gliss {
    position: relative;
    transform: translateX(0) translateZ(0);
    transition: transform .2s;
    will-change: transform;
    background: $background-base;
  }

body:target .gliss {
    transform: translateX(300px);
  }

.nav-button-close,
  body:target .nav-button-open {
    display: none;
  }
  .nav-button-open,
  body:target .nav-button-close {
    display: inline-block;
  }

.nav-button-close, body .nav-button-close {display: none;}

[class^="nav-button"] {
    display: inline-block;
    vertical-align: middle;
    z-index: 1;
    font-size: 3.6rem;
    padding: 0;
    outline: 0;
    border: 0;
    cursor: pointer;
  }