.nav-inner {
   position: absolute;
   display: inline-block;
   width: 320px;
   height: 100vh;
   padding: 0 20px;
   left: 0;
   top: 85px;  
   transform: translateX(-1500px) translateZ(0);
   transition: transform .3s;
   will-change: transform;
   background: rgba($gray, 0.8);
   color: $white;
   overflow-y: scroll;
    ul {
      list-style-type: none;
      padding: 0;
      margin: 7px 0 0 0;
      li {
        display: block;
        font-size: 2rem;
        padding: 7px 0;
        vertical-align: middle;
        font-weight: 300;
        &::before {
          content: "";
          display: inline-block;
          height: 2px;
          width: 20px;
          margin-right: 10px;
          vertical-align: middle;
          background: $white;
        }
        a {color: $white;}
      }
    }
  }
  /* here's goes the slide effect */
  input:checked ~ .nav-inner {
    transform: translateX(0);
    left: 0;
  }

  .nav-button {
    display: inline-block;
    font-size: 2.7rem;
    vertical-align: middle;
    padding: 0;
    margin: 0;
    outline: 0;
    border: 0;
    cursor: pointer;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
  }

nav > input {
  display: none; /* hidden on large screens */
}