h2.title {
    font-weight: 300;
    line-height: 4.8rem;
    @media (max-width: $tiny) {line-height: 4.3rem;}
    margin-bottom: 2rem;
    &:before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        height: 2px;
        width: 40px;
        margin-right: 20px;
        background: $brand-primary;
        @media (max-width: $tiny) {width: 20px; margin-right: 10px;}
    }
    &.podcast {
        &::before {background: $violet;}
    }
    &.article {
        &::before {background: $red;}
    }
    &.social {
        &::before {background: $green;}
    }
}

aside h2:before {width: 30px;}

.article-contain {
    h2.resume {
        font-weight: 600;
        font-size: 2rem;
        line-height: 2.7rem;
        @media (max-width: $tiny) {font-size: 1.8rem; line-height: 2.5rem;}
        padding: 20px;
        margin: 0;
        border-bottom: 5px solid $brand-primary;
        &::before {content: none;}
        &.pod {border: none; padding: 20px 20px 0;}
    }

    p {
        font-size: 1.7rem;
        @media (max-width: $tiny) {font-size: 1.6rem;}
        a {
            color: $semi-gray;
            &:hover {text-decoration: underline;}
            &[target="_blank"][href^="http://"]:not([href*="radiorp.fr"]):after,
            &[target="_blank"][href^="https://"]:not([href*="radiorp.fr"]):after,
            &[href^="http://"]:not([href*="radiorp.fr"]):after,
            &[href^="https://"]:not([href*="radiorp.fr"]):after {
                content: "\f08e";
                font-family: FontAwesome;
                padding-left:5px;
                font-weight: normal;
            }
        }
    }

    p, h1, h2, h3, h4, h5, h6 {
        padding: 20px 20px 0;
        &:last-child {padding: 20px;}
        margin: 0;
    }

    h1, h2, h3, h4, h5, h6 {
        &::before {
            content: "";
            display: inline-block;
            vertical-align: middle;
            height: 2px;
            width: 40px;
            margin-right: 20px;
            background: $brand-primary;
            @media (max-width: $tiny) {width: 20px; margin-right: 10px;}
        }
    }

    h1, h2, h3, h4 {
        font-weight: 300;
    }

    h5, h6 {
        font-weight: 400;
    }

    h1 {
        font-size: 4rem;
        @media (max-width: $tiny) {font-size: 3.5rem;}
    }
    h2 {
        font-size: 3.5rem;
        @media (max-width: $tiny) {font-size: 3rem;}
    }
    h3 {
        font-size: 3rem;
        @media (max-width: $tiny) {font-size: 2.5rem;}
    }
    h4 {
        font-size: 2.7rem;
        @media (max-width: $tiny) {font-size: 2.2rem;}
    }
    h5 {
        font-size: 2.4rem;
        @media (max-width: $tiny) {font-size: 1.9rem;}
    }
    h6 {
        font-size: 2.1rem;
        @media (max-width: $tiny) {font-size: 1.8rem;}
    }

    ul, ol {margin-top: 20px; padding: 0 20px 0 40px; font-size: 1.7rem; @media (max-width: $tiny) {font-size: 1.6rem;}}

    blockquote {
        &::before {
            content: none;
        }
        padding: 10px 20px;
        margin: 20px 20px 0;
        &:last-child {margin: 20px;}
        border-left: 2px solid $light-gray;
        font-style: italic;
        font-size: 2rem;
        .author {
            padding: 0;
            font-size: 1.6rem;
            font-style: normal;
            color: $light-gray;
            &::before {
                content: "";
                display: inline-block;
                vertical-align: middle;
                height: 2px;
                width: 20px;
                margin-right: 10px;
                background: $light-gray;
            }
        }
    }
}