// VARIABLES

// FONTS
$anton: 'Anton', sans-serif;

// BACKGROUNDS ET COULEURS
$bg-head: #fff;
$gray: #252525;
$light-gray: #9E9E9E;
$blue: #0DC7D8;
$white: #fff;
$violet: #994DD1;
$red: #D9323E;
$green: #32D994;

// GRIDS
.grid-rp-1 {@include grid(1, 0);}
.grid-rp-2 {@include grid(2, 3rem);}
.grid-rp-3 {@include grid(3, 3rem);}

// MIXINS
