// VARIABLES

// FONTS
$anton: 'Anton', sans-serif;

// BACKGROUNDS ET COULEURS
$bg-head: #fff;
$gray: #252525;
$light-gray: #9E9E9E;
$semi-gray: #5B5B5B;
$blue: #0DC7D8;
$white: #fff;
$violet: #994DD1;
$red: #D9323E;
$green: #32D994;
$facebook: #3b5998;
$twitter: #1da1f2;
$fmess: #0084ff;

// BREAKPOINTS
$max-tiny: 320px;

// GRIDS
.grid-rp-1 {@include grid(1, 0);}
.grid-rp-2 {@include grid(2, 3rem);}
.grid-rp-3 {@include grid(3, 3rem);}
.grid-rp-4 {@include grid(4, 3rem);}

@media (max-width: $small) {
    .grid-rp-4, .grid-rp-3, .grid-rp-2 {@include grid(1, 3rem);}
}

// MIXINS
